<div class="startbar d-print-none">
    <!--start brand-->
    <div class="brand">
        <a href="/" class="logo">
            <span>
                <img src="/images/logo-sm.png" alt="logo-small" class="logo-sm">
            </span>
            <span class="">
                <img src="/images/logo-light.png" alt="logo-large" class="logo-lg logo-light">
                <img src="/images/logo-dark.png" alt="logo-large" class="logo-lg logo-dark">
            </span>
        </a>
    </div>
    <!--end brand-->
    <!--start startbar-menu-->
    <div class="startbar-menu">
        <div class="startbar-collapse" id="startbarCollapse" data-simplebar>
            <div class="d-flex align-items-start flex-column w-100">
                <!-- Navigation -->
                <ul class="navbar-nav mb-auto w-100">
                    <li class="menu-label pt-0 mt-0">
                        <!-- <small class="label-border">
                            <div class="border_left hidden-xs"></div>
                            <div class="border_right"></div>
                        </small> -->
                        <span>Main Menu</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/" role="button" aria-expanded="false"
                            aria-controls="sidebarDashboards">
                            <i class="iconoir-home-simple menu-icon"></i>
                            <span>Dashboards</span>
                        </a>

                    </li><!--end nav-item-->

                    <li class="menu-label mt-2">
                        <small class="label-border">
                            <div class="border_left hidden-xs"></div>
                            <div class="border_right"></div>
                        </small>
                        <span>Components</span>
                    </li>

                    <ul class="nav flex-column">

                        <li class="nav-item">
                            <a class="nav-link" href="/users"><i
                                    class="iconoir-compact-disc menu-icon"></i><span>Users</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/categories"><i
                                    class="iconoir-compact-disc menu-icon"></i><span>Category</span></a>
                        </li>
                        <li class="menu-label mt-2">
                            <small class="label-border">
                                <div class="border_left hidden-xs"></div>
                                <div class="border_right"></div>
                            </small>
                            <span>Role-Permissions</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/roles"><i
                                    class="iconoir-compact-disc menu-icon"></i><span>Roles</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/permissions"><i
                                    class="iconoir-compact-disc menu-icon"></i><span>Permissions</span></a>
                        </li>
                        <li class="menu-label mt-2">
                            <small class="label-border">
                                <div class="border_left hidden-xs"></div>
                                <div class="border_right"></div>
                            </small>
                            <span>Learning Management</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/courses"><i
                                    class="iconoir-book menu-icon"></i><span>Courses</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/media"><i class="iconoir-image menu-icon"></i><span>Media
                                    Library</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/lessons"><i
                                    class="iconoir-play menu-icon"></i><span>Lessons</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/videos"><i
                                    class="iconoir-video menu-icon"></i><span>Videos</span></a>
                        </li>
                        <li class="menu-label mt-2">
                            <small class="label-border">
                                <div class="border_left hidden-xs"></div>
                                <div class="border_right"></div>
                            </small>
                            <span>Student Management</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/enrollments"><i
                                    class="iconoir-user-plus menu-icon"></i><span>Enrollments</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/payments"><i
                                    class="iconoir-credit-card menu-icon"></i><span>Payments</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/reviews"><i
                                    class="iconoir-star menu-icon"></i><span>Reviews</span></a>
                        </li>
                        <li class="menu-label mt-2">
                            <small class="label-border">
                                <div class="border_left hidden-xs"></div>
                                <div class="border_right"></div>
                            </small>
                            <span>Communication</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/notifications"><i
                                    class="iconoir-bell menu-icon"></i><span>Notifications</span></a>
                        </li>
                    </ul>

                </ul><!--end navbar-nav--->

            </div>
        </div><!--end startbar-collapse-->
    </div><!--end startbar-menu-->
</div><!--end startbar-->
<div class="startbar-overlay d-print-none"></div>