<div class="startbar d-print-none">
    <!--start brand-->
    <div class="brand">
        <a href="/" class="logo">
            <span>
                <img src="/images/logo-sm.png" alt="logo-small" class="logo-sm">
            </span>
            <span class="">
                <img src="/images/logo-light.png" alt="logo-large" class="logo-lg logo-light">
                <img src="/images/logo-dark.png" alt="logo-large" class="logo-lg logo-dark">
            </span>
        </a>
    </div>
    <!--end brand-->
    <!--start startbar-menu-->
    <div class="startbar-menu">
        <div class="startbar-collapse" id="startbarCollapse" data-simplebar>
            <div class="d-flex align-items-start flex-column w-100">
                <!-- Navigation -->
                <ul class="navbar-nav mb-auto w-100">
                    <li class="menu-label pt-0 mt-0">
                        <!-- <small class="label-border">
                            <div class="border_left hidden-xs"></div>
                            <div class="border_right"></div>
                        </small> -->
                        <span>Main Menu</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/" role="button" aria-expanded="false"
                            aria-controls="sidebarDashboards">
                            <i class="iconoir-home-simple menu-icon"></i>
                            <span>Dashboards</span>
                        </a>

                    </li><!--end nav-item-->

                    <li class="menu-label mt-2">
                        <small class="label-border">
                            <div class="border_left hidden-xs"></div>
                            <div class="border_right"></div>
                        </small>
                        <span>Components</span>
                    </li>

                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" href="/media"><i
                                    class="iconoir-compact-disc menu-icon"></i><span>Media</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/pages"><i
                                    class="iconoir-compact-disc menu-icon"></i><span>Pages</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/sections"><i
                                    class="iconoir-compact-disc menu-icon"></i><span>Sections</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/page-section"><i
                                    class="iconoir-compact-disc menu-icon"></i><span>PageSection</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/blogs"><i
                                    class="iconoir-compact-disc menu-icon"></i><span>Blogs</span></a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/sliders"><i
                                    class="iconoir-compact-disc menu-icon"></i><span>Slider</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/footers"><i
                                    class="iconoir-compact-disc menu-icon"></i><span>Footers</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/headers"><i
                                    class="iconoir-compact-disc menu-icon"></i><span>Headers</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users"><i
                                    class="iconoir-compact-disc menu-icon"></i><span>Users</span></a>
                        </li>
                        <li class="menu-label mt-2">
                            <small class="label-border">
                                <div class="border_left hidden-xs"></div>
                                <div class="border_right"></div>
                            </small>
                            <span>Role-Permissions</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/roles"><i class="iconoir-compact-disc menu-icon"></i><span>Roles</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/permissions"><i class="iconoir-compact-disc menu-icon"></i><span>Permissions</span></a>
                        </li>

                    </ul>

                </ul><!--end navbar-nav--->

            </div>
        </div><!--end startbar-collapse-->
    </div><!--end startbar-menu-->
</div><!--end startbar-->
<div class="startbar-overlay d-print-none"></div>