<%- contentFor('extra_css') %>

<%- contentFor('content') %>

<div class="container-xxl mt-4">
    <form method="POST">
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="permissionName" class="form-label">Permission Name</label>
                <input type="text" class="form-control" id="permissionName" name="name" required placeholder="e.g. View Grades">
            </div>
            <div class="col-md-6">
                <label for="permissionDescription" class="form-label">Permission Description</label>
                <input type="text" class="form-control" id="permissionDescription" name="description" placeholder="Describe the permission">
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Create Permission</button>
    </form>
</div>

<%- contentFor('extra_javascript') %>
